.top.title {
	border-bottom: 1px solid #eeeeee;
	color: #999999;
}

.top.title p {
	margin: 10px auto;
}

.top.title .contacts {
	text-align: right;
}

.top.title .number {
	margin-right: 2rem;
}

/* Start of Banner */

.banner {
	padding: 1rem 0px;
}

.banner .logo {
	width: 100px;
}

.banner .search form {
	float: right;
}

.banner .search .form-control.term {
	border-radius: 20px;
}

.banner .search .glyphicon {
	color: #ff3300;
}

/* Main Menu */

.main.menu .navbar {
	border-radius: 0px;
	min-height: 40px;
}

.main.menu .navbar-default {
	background-color: #ffffff;
}

.main.menu .navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: #ff3300;
	color: #ffffff;
}

.main.menu li.divider {
	border-left: 1px solid #e7e7e7;
	min-height: 20px;
	margin-top: 15px;
}

/* Main Content */
.main h1 {
	margin-top: 10px;
	font-weight: 200;
	display: inline-block;
	font-size: 3rem;
	border-bottom: 3px solid #ff3300;
}

.main .toggles .nav-pills>li.active>a, 
.main .toggles .nav-pills>li.active>a:hover, 
.main .toggles .nav-pills>li.active>a:focus {
	background-color: #ff3300;
	color: #ffffff;
}

.main .toggles .nav-pills {
	float: right;
}

.main .toggles .nav-pills>li>a {
	color: #333333;
}

/* Allocation */
.main .allocation { 
	margin: 3rem auto;
}

.allocation .table th { 
	color: #666666;
	font-weight: 400;
}

.allocation .table {
	font-size: 0.8em;
}

.allocation .pointer {
	width: 7px;
	height: 14px;
	display: inline-block;
	background: url('../img/pointer.png');
	margin: 0.5px 0.5rem 0px 0px;
}


/* Footer */

.footer .footer-nav {
	background-color: #666666;
	padding: 2rem inherit;
	color: #dcdcdc;
	font-weight: 200;
}


.footer .footer-nav h4 {
	color: #ffffff;
	font-weight: 100;
}

.footer .footer-nav .contacts ul {
	list-style-type: none;
	padding-left: 0px;
}

.footer .footer-nav .contacts li {
	font-size: .9.5rem;
}

.footer .footer-nav .contacts i {
	margin-right: 1em;
	min-width: 12px;
}


.footer .attribution {
	background-color: #ff3300;
	border-top: 2px solid #ffffff;
	color: #ffffff;
}

.footer .attribution p {
	margin: 10px auto;
	font-size: .85em;
}

.footer .attribution img.license {
	width: 80px;
	height: 15px;
}

.footer .attribution .built {
	text-align: right;
}

.footer .attribution .built a {
	color: #ffffff;
	font-weight: 700;
}

.footer .footer-menu li{
	border-bottom: solid 1px #cccccc;
	height: 25px;
	margin-top: 20px;
	align-content: center;
}

.footer .footermenu {
	border-bottom: solid 1px #cccccc;

}

.social {
	
	border-bottom: solid 1px #cccccc;
	margin-top: 0px;
	padding-bottom: 5px;
	
}

.Button {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background-color:#cc0000;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #cc0000));
	background:-moz-linear-gradient(top, #bc3315 5%, #cc0000 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #cc0000 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #cc0000 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #cc0000 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #cc0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.Button:active {
	position:relative;
	top:1px;
}

