.top.title {
	border-bottom: 1px solid #eeeeee;
	color: #999999;
}

.top.title p {
	margin: 10px auto;
}

.top.title .contacts {
	text-align: right;
}

.top.title .number {
	margin-right: 2rem;
}

/* Start of Banner */

.banner {
	padding: 1rem 0px;
}

.banner .logo {
	width: 100px;
}

.banner .search form {
	float: right;
}

.banner .search .form-control.term {
	border-radius: 20px;
}

.banner .search .glyphicon {
	color: #ee522b;
}

/* Main Menu */

.main.menu .navbar {
	border-radius: 0px;
	min-height: 32px;
}

.main.menu .navbar-default {
	background-color: #ffffff;
}

.main.menu .navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: #ee522b;
	color: #ffffff;
}

.main.menu .navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.main.menu li.divider {
	border-left: 1px solid #e7e7e7;
	min-height: 15px;
	margin-top: 5px;
}

/* Infobox */

.highlights {
	display: none;
}

.infobox-container .stat {
	padding: 2rem 3rem;
	text-align: center;
}

.infobox-container .stat h3 {
	float: right;
}

.infobox-container .stat small {
	display: block;
}

.infobox-container .stat i {
	/*float: left;*/
	display: block;
}

.infobox-container .stat {
	border-top-width: 1px;
	border-left-width: 1px;
	border-style: dotted;
	border-color: #D8D8D8;
	border-bottom-width: 1px;
	border-right-width: 0px;
}

.infobox-container .stat:last-child {
	border-right-width: 1px;
}


.charts {
	margin-top: 55px;	
}

.charts .chart {
	margin-bottom: 50px;
}


/* Main Content */
.main h1, h2 {
	margin-top: 10px;
	font-weight: 200;
	display: inline-block;	
	border-bottom: 3px solid #ee522b;
}

.main h1 {
	font-size: 3rem;
}

.main h2 {
	font-size: 2.5rem;
}

.main .toggles .nav-pills>li.active>a, 
.main .toggles .nav-pills>li.active>a:hover, 
.main .toggles .nav-pills>li.active>a:focus {
	background-color: #ee522b;
	color: #ffffff;
}

.main .toggles .nav-pills {
	float: right;
}

.main .toggles .nav-pills>li>a {
	color: #333333;
}

/* Toggles */
.toggles {
	margin-bottom: 20px;
}

/* Allocation */
.main .allocation { 
	margin: 3rem auto;
}

.allocation .table th { 
	color: #666666;
	font-weight: 400;
}

.allocation .table {
	font-size: 0.9em;
}

.allocation .pointer {
	width: 7px;
	height: 14px;
	display: none;
	background: url('../img/pointer.png');
	margin: 0.5px 0.5rem 0px 0px;
}

.regions .dropdown .btn,
.regions .dropdown-menu { 
	width: 100%; 
	border-radius: 0px;
}

.regions .dropdown-menu { 
	padding: 0px 0px 5px;
}

.regions .btn .caret {
	float: right;
	margin-top: 8px;
}

.regions .dropdown-menu .divider {
	margin: 1px 0;
}

.regions .dropdown {
	margin-bottom: 2em;
}

.regions .dropdown .active {
	font-weight: 300;
}


/* Footer */

.footer .footer-nav {
	background-color: #666666;
	padding: 2rem inherit;
	color: #dcdcdc;
	font-weight: 200;
}


.footer .footer-nav h4 {
	color: #ffffff;
	font-weight: 100;
}

.footer .footer-nav .contacts ul {
	list-style-type: none;
	padding-left: 0px;
}

.footer .footer-nav .contacts li {
	font-size: .9.5rem;
}

.footer .footer-nav .contacts i {
	margin-right: 1em;
	min-width: 12px;
}


.footer .attribution {
	background-color: #ee522b;
	border-top: 2px solid #ffffff;
	color: #ffffff;
}

.footer .attribution p {
	margin: 10px auto;
	font-size: .85em;
}

.footer .attribution img.license {
	width: 80px;
	height: 15px;
}

.footer .attribution .built {
	text-align: right;
}

.footer .attribution .built a {
	color: #ffffff;
	font-weight: 700;
}

.footer .attribution a:hover, 
.footer .attribution a:focus {
	color: #ffffff;
	text-decoration: underline;
}

.footer .attribution a {
	color: #ffffff;
	text-decoration: none;
}

.footer .footer-menu li{
	border-bottom: solid 1px #cccccc;
	/*margin-top: 20px;*/
	align-content: center;
	list-style-position: inside;
	padding: 10px 0px;
}

.footer .footermenu {
	border-bottom: solid 1px #cccccc;
	padding-bottom: 20px;
	/*margin-left: 40px;*/
	margin-bottom: 0px;
}

.footer .footer-menu {
	padding-left: 0px;

}

.footer .col-md-4.submit {
	padding-left: 12px;
}

.social {
	
	border-bottom: solid 1px #cccccc;
	margin-top: 0px;
	padding-bottom: 5px;
	
}

.Button {
	box-shadow:inset 0px 1px 0px 0px #ff3300;
	background-color:#ee522b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

.Button:hover {
	color: #ffffff;
	text-decoration: none;
}

.Button:active {
	position:relative;
	top:1px;
}

.input {
	border-bottom-width: 0px;
    border-top-width: 0px;
    padding-top: 0px;
    width: 257px;
    height: 32px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.placeholder {
	padding-left: 12px;
}

.i
{
  display: inline-block;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-box-shadow: 0px 0px 2px #ffffff;
  -webkit-box-shadow: 0px 0px 2px #ffffff;
  box-shadow: 0px 0px 2px #ffffff;
}

.socialicons {
	margin-top: 50px;
	padding-left: 13px;
}
